.app{
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 15% 1fr 15%;
    grid-template-areas: 
        "logo header"
        "nav content"
        "nav footer";
}

header.header{
    grid-area: header;
}
aside.nav{
    grid-area: nav;
}
aside.logo{
    grid-area: logo;
}
div.content{
    grid-area: content;
}
footer.footer{
    grid-area: footer;
}

@media(max-width: 768px){
    .header{
        display: none;
    }
    aside.nav{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    aside.nav a:hover{
        background-color: #000500;
        color: white;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer{
        height: 100%;
    }
    .app{
        grid-template-rows: 30% 10% 1fr 10%;
        grid-template-columns: 100%;
        grid-template-areas: 
            "logo"
            "nav"
            "content"
            "footer";
    }
}